[submodule "APIS_OEBL_NER"]
	path = APIS_OEBL__Named_Entity_Recognition
	url = https://huggingface.co/datasets/SteffRhes/APIS_OEBL_NER
[submodule "veld_data_5_apis_oebl__ner_gold"]
	path = veld_data_5_apis_oebl__ner_gold
	url = https://github.com/acdh-oeaw/veld_data_5_apis_oebl__ner_gold.git
