[submodule "veld_data_5_apis_ner_gold"]
	path = veld_data_5_apis_ner_gold
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_data_5_apis_ner_gold.git
[submodule "APIS_OEBL_NER"]
	path = APIS_OEBL_NER
	url = https://huggingface.co/datasets/SteffRhes/APIS_OEBL_NER
